@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.introduction-content{
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.introduction-content h4 {
   color: #1a73e8;
}


.introduction-content p {
    width: 80%;
}

.introduction-content > ol{
    font-weight: bold;
    width: 80%;
}

.introduction-content > ol > li > ul li{
    font-weight: normal;
}

.introsec2-content {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: #000000;
  }
  
  .introsec2-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: left;

  }
  .introsec2-content p {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 16px;
    text-align: left;
  }
  
  .introsec3-container{
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.introsec3-container h2{
    font-size: 20px;
}


.introsec3-container .txt-img-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.txt-img-container p {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1420px){
    .introsec3-container .txt-img-container{
        flex-direction: column;
    }
}

.introsec4-content {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
  }
  
  .introsec4-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-bottom: 5px;
  }

  .introsec4-content p {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 16px;
    text-align: left;
  }

  .accountability-img {
    max-width: 25%;
    height: auto;
    display: block;
    margin-bottom: 0px;
}

.dataprotect-img {
  max-width: 20%;
  height: auto;
  display: block;
}

.dataprotect-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; 
  flex-direction: row;
  gap: 20px; 
}

.accountability-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; 
  flex-direction: row;
  gap: 20px; 
}

@media (max-width: 1420px){
  .accountability-container, .dataprotect-container{
    flex-direction: column;
  }

  .dataprotect-img, .accountability-img {
    max-width: 100%;
  }

  .dataprotect-container{
    align-items: center;
  }
}

.introsec5-container{
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.introsec5-container h2{
    font-size: 20px;
}

.introsec6-content {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: #000000;
  }
  
  .introsec6-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: left;

  }
  .introsec6-content p {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 16px;
    text-align: left;
  }
  
  .environmental-img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-bottom: 0px;
 }

 .environmental-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    gap: 20px; 
  }
  
  @media (max-width: 1420px){
    .environmental-container{
      flex-direction: column;
    }
  
    .environmental-img {
      max-width: 100%;
    }
  
    .environmental-container{
      align-items: center;
    }
  }

  .introsec7-container{
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.introsec7-container h2{
    font-size: 20px;
}

.introsec7-container .img-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.introsec7-container img{
    width: 90%;
}

/* 
TODO
Temporay placeholder! 
Just making the button loop presentable for the demo
*/
.action-button {
  padding: 10px 20px;
  background-color: #0056D1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  display: block;
  margin: auto;
}

.action-button:hover {
  background-color: #0041A1;  
}