/* mod1sec2.css */
.mod1sec2-content {
    padding: 20px;
    text-align: left;
  }
  
  .mod1sec2-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: left;

  }
  
  .mod1sec2-content p {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 16px;
    text-align: left;
  }
  

