.introduction-content{
    margin: 20px;

}

.introduction-content h1 {
    text-align: center;
}

.introduction-content h4 {
   color: #1a73e8;
}

.introduction-content p {
    width: 80%;
}

.introduction-content > ol{
    font-weight: bold;
    width: 80%;
}

.introduction-content > ol > li > ul li{
    font-weight: normal;
}

