/* mod1sec6.css */
.mod1sec6-content {
    padding: 20px;
    text-align: left;
  }
  
  .mod1sec6-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: left;

  }
  .mod1sec6-content h1{
    text-align: center;
  }
  .mod1sec6-content p {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 16px;
    text-align: left;
  }
  
  .environmental-img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-bottom: 0px;
 }

 .environmental-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; /* Adjusts spacing between the image and the text */
    gap: 20px; /* Adds some space between the image and the paragraph */
  }
  
