@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.mod7sec1-container {
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  
}

ol > li::marker {
  font-weight: bold;
}

.mod7sec1-container .img-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.mod7sec1-container {
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  
}

ol > li::marker {
  font-weight: bold;
}

.mod7sec1-container p {
  width: 80%;
  margin-top: 0px;
}

.mod7sec1-container>ol {
  width: 75%;
}

.mod7sec1-container>ul {
  width: 75%;
}


.mod7sec1-container>ol>li>ul li {
  font-weight: normal;
}

.mod7sec1-container>ol>li>p {
  width: 100%;
}

.mod7sec1-container h1 {
  width: 80%;
  font-size: x-large;
  text-align: left;
}

.mod7sec1-container h2 {
  margin-top: 50px;
  width: 80%;

}

.mod7sec1-container h3 {
  font-size: 20px;
  width: 80%;
}

.mod7sec1-container h4 {
  font-size: 18px;
  width: 80%;
  margin-bottom: 0px;
}

.mod7sec1-container .txt-img-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.txt-img-container p {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.privacy-ai-img{
  height: auto;
  width: 70%;
}
.unsecured-ai-img{
  height: auto;
  width: 70%;
}
.apple-ai-img{
  height: auto;
  width: 35%;
}
.storage-ai-img{
  height: auto;
  width: 70%;
}
@media (max-width: 1420px){
  .mod7sec1-container .txt-img-container{
      flex-direction: column;
  }
}