/* Full height and gradient background only for login/signup container */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

}

/* Form container styling */
.login-container {
  width: 350px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Form and input fields */
.login-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-icon {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #fff; /* Keep the background white */
}

.input-icon img {
  width: 20px;
  margin-right: 10px;
}

.input-icon input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: #333;
  background-color: transparent; /* Keep the input transparent */
}

input:focus {
  border-color: #4CAF50;
}

/* Login and signup button styling */
.submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(#2a00b7, #42006c); /* Matching gradient */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background: linear-gradient(#42006c, #2a00b7);
}

/* Error message */
.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

/* Signup/Login toggle section */
.toggle-section {
  margin-top: 20px;
}

.toggle-button {
  background-color: transparent;
  color: #2a00b7;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-button:hover {
  color: #42006c;
}
